.advantages__title {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  background-repeat: no-repeat;
}

.advantages__item--flower {
  width: 33px;
  height: 38px;

  background-image: url("../img/icon-1.svg.svg");
}

.advantages__item--money {
  width: 35px;
  height: 34px;

  background-image: url("../img/icon-2.svg.svg");
}

.advantages__item--like {
  width: 47px;
  height: 27px;

  background-image: url("../img/icon-3.svg.svg");
}

.advantages__item--love {
  width: 55px;
  height: 23px;

  background-image: url("../img/icon-4.svg.svg");
}

.advantages__item--rocket {
  width: 34px;
  height: 27px;

  background-image: url("../img/icon-5.svg.svg");
}

.advantages__item--gift {
  width: 33px;
  height: 32px;

  background-image: url("../img/icon-6.svg.svg");
}

.advantages__text {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: inherit;
}
