@heightZigzag: 6px;
@FeaturedProductWrapperWidth: 260px;
@PaddingWrapper: 30px;
@PaddingLeftTableSale: 20px;
@widthButton: 256px;
@PaddingLeftTextButton: 83px;
@TableSaleTop: 360px;

.featured-product {
  width: 100%;
  min-height: 795px;
}

.featured-product::after {
  content: "";
  position: relative;
  top: -3px;

  display: block;
  width: inherit;
  height: 0;//6px;
  padding-bottom: percentage(@heightZigzag/@width-pagePhone);

  background-image: url("../img/zigzag-line-desktop.svg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.featured-product__wrapper {
  position: relative;

  width: percentage(@FeaturedProductWrapperWidth/@width-pagePhone);
  padding: 0 percentage(@PaddingWrapper/@width-pagePhone);
  padding-top: 30px;
}

.featured-product__title {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 1.2px;
}

.featured-product__subtitle {
  margin: 0;
  padding-top: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  letter-spacing: 0.5px;
}

.featured-product__text {
  margin: 0;
  padding-top: 16px;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.table-options {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
}

.table-options__head-list,
.table-options__body-list {
  display: flex;
  flex-direction: column;
}

.table-options__head-item,
.table-options__body-item {
  align-self: baseline;
  padding-top: 10px;
  padding-bottom: 11.5px;

  border-collapse: collapse;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #444444;

  border-bottom: 1px solid #ececec;
}

.table-options__head-item {
  width: 100px;

  text-align: left;
}

.table-options__body-item {
  position: relative;
  left: -5px;

  width: 160px;
}

.table-options__body-item:nth-child(2),
.table-options__head-item:nth-child(2) {
  position: relative;
  top: -3px;

  padding-bottom: 12px;
}

.table-options__body-item:nth-child(3),
.table-options__head-item:nth-child(3) {
  position: relative;
  top: -5px;

  padding-bottom: 12px;
}

.featured-product__price {
  position: relative;
  top: 348px;

  display: flex;
  justify-content: center;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  letter-spacing: 2px;
}

.featured-product__image {
  position: relative;
  bottom: 34px;

  width: 100%;
}

.image__item {
  width: 100%;
  max-width: 100%;

  object-fit: cover;
}

.featured-product__button {
  width: percentage(@widthButton/@FeaturedProductWrapperWidth);//256px;
  margin-top: 34px;
  margin-bottom: 40px;
}
