@widthTitle: 280px;
@widthMenuLink: 260px;
@PaddingTitle: 20px;
@PaddingProductBotton: 30px;
@ProductImageInterRight: 36px;
@ProductImageToyRight: 27px;
@heightImageBackground: 286px;

//Разрешение экрана от 768px
@PaddingButtonTablet: 50px;
@WidthButtonBlockTablet: 334px;
@HeightButtonBlockTablet: 119px;
@PaddingTextButtonTablet: 36px;

.products-nav {
  width: 100%;
  height: 100%;

  @media (min-width: @mediaTablet) {
    &::after {
      content: "\2063";
      position: relative;
      top: -80px;
      z-index: 5;

      display: block;
      max-width: 100%;

      background-image: url("../../../img/zigzag-fill-desktop.svg.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.products-nav__header {
  position: relative;
  z-index: 2;

  width: inherit;
  height: 0;//286px;
  padding-bottom: percentage(@heightImageBackground/@width-pagePhone);

  background-image: url("../../../img/hero-mobile@2x\ 1.svg");
  background-repeat: no-repeat;
  background-position: 0 -17px;
  background-size: cover;//320px 373px;

  @media (min-width: @mediaTablet) {
    background-image: url("../../../img/hero-desktop\ 2.svg");
    background-position: 0 -10px;
  }
}

.products-nav__title {
  display: inline-block;
  width: percentage(@widthTitle/@width-pagePhone);
  min-height: 90px;
  margin: 0;
  padding: 0 percentage(@PaddingTitle/@width-pagePhone);
  padding-top: 74px;

  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  letter-spacing: 1.5px;

  @media (min-width: @mediaTablet) {
    padding-top: 140px;

    font-size: 43px;
    line-height: 50px;
  }
}

.products-nav__list {
  width: inherit;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @mediaTablet) {
    position: relative;
    top: -65px;
    z-index: 4;

    display: flex;
    padding: 0 percentage(@PaddingButtonTablet/@mediaTablet);
  }
}

.products-nav__item {
  width: inherit;
  min-height: 103px;

  @media (min-width: @mediaTablet) {
    width: percentage(@WidthButtonBlockTablet/(@mediaTablet - (@PaddingButtonTablet * 2)));//334px;
    min-height: @HeightButtonBlockTablet;//119px;
  }
}

.products-nav__link {
  position: relative;

  display: flex;
  width: percentage(@widthMenuLink/@width-pagePhone);
  min-height: inherit;
  padding: 0 percentage(@PaddingProductBotton/@width-pagePhone);

  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  background-repeat: no-repeat;

  @media (min-width: @mediaTablet) {
    width: 100%;
    min-height: 119px;
    padding: 0;

    font-size: 20px;
    line-height: 30px;
  }
}

.products-nav__link--inter {
  background-color: #63d1bb;
}

.products-nav__link--inter:hover {
  background-color: #59d5bc;
}

.products-nav__link--toys {
  background-color: #56c3b2;
}

.products-nav__link--toys:hover {
  background-color: #46c1ae;
}

.products-nav__image--inter {
  position: absolute;
  top: 23px;
  right: percentage(@ProductImageInterRight/@width-pagePhone);

  opacity: 0.5;
}

.products-nav__link--inter:hover > .products-nav__image--inter {
  opacity: 1;
}

.products-nav__image--toys {
  position: absolute;
  top: 21px;
  right: percentage(@ProductImageToyRight/@width-pagePhone);

  opacity: 0.5;
}

.products-nav__link--toys:hover > .products-nav__image--toys {
  opacity: 1;
}


.products-nav__text {
  display: inline-block;
  width: 130px;
  min-height: 48px;
  padding-top: 23px;
  padding-left: percentage(@PaddingTextButtonTablet/@WidthButtonBlockTablet);//36px;

  letter-spacing: 1px;
}
