@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@width-pagePhone: 320px;
@mediaTablet: 768px;
@mediaDesctop: 1150px;

.page,
.page__body {
  margin: 0;
  overflow-x: hidden;

  font-family: "Open Sans", sans-serif;
}

.page {
  display: grid;
  //background-image: url("../img/Mobile.png");
  background-repeat: no-repeat;
  background-position: 50%  -315px;
}

.page__body {
  //opacity: 0.6;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
